.point-light{
  h1 {
    position: relative;
    font-size: 10em;
  }
  h1::after {
    content: 'SpotLight';
    position: absolute;
    left: 0;
    top: 0;
    color: transparent;
    background: -webkit-linear-gradient(
      left,
      #c23616,
      #192a56,
      #00d2d3,
      yellow,
      #6d214f,
      #2e86de,
      #4cd137,
      #e84118
    );
    background-clip: text;
    -webkit-background-clip: text;
    clip-path: circle(100px at 0% 50%);
    -webkit-clip-path: circle(100px at 0% 50%);
    animation: move 5s infinite;
  }
  @keyframes move {
    0% {
      clip-path: circle(100px at 0% 50%);
      -webkit-clip-path: circle(100px at 0% 50%);
    }
    50% {
      clip-path: circle(100px at 0% 50%);
      -webkit-clip-path: circle(100px at 100% 50%);
    }
    100% {
      clip-path: circle(100px at 0% 50%);
      -webkit-clip-path: circle(100px at 0% 50%);
    }
  }
}