.menu{
  display: flex;
  .menu-item{
    padding: 14px 20px 14px 20px;
    text-align: center;
    line-height: 16px;
    white-space: nowrap;
    &:active,
    &.active {
      color: #e09a0e;
      border-bottom: 2px solid rgba(224,154,14,1);
    }
  }
}

.menu-ver {
  flex-direction: column;
  .menu-item:active,
  .menu-item.active {
    background-color: #fff;
    border-bottom: none;
  }
}